*,
*::before,
*::after {
    font-family: "Chakra Petch", sans-serif;
    font-weight: 500;
    font-style: normal;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}


#logo-img {
    height: 40px;
}

.ole-logo {
    font-size: ;
    font-weight: 700;
    color: darkmagenta;
}